<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    </head>

    <body>

        <div class="title">
            a
        </div>
        
        <div class="navigation">
            <div class="navi">aaa</div>
            <div class="navi">aaa</div>
            <div class="navi">aaa</div>
            <div class="navi">aaa</div>
        </div>

        <div class="classes">
            <div class="rsrv">
                <div class="subject"  onClick='cl("math",3)'>数学</div>　<!--変更-->
                
                <div id="math">　<!--変更-->
                <%= for n <- 0..2 do %>　<!--変更-->
                    <div class="teacher">
                        <div class="tchr" onClick="cli(0,3,<%= n %>)">aaaa</div>
                        <div id="math_t">　<!--変更-->
                            <%= for n <- 0..2 do %>　<!--変更-->
                                <div class="times" >aa</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>

            </div>

            <div class="rsrv">
                <div class="subject"  onClick='cl("sience",2)'>理科</div>　<!--変更-->
                
                <div id="sience">　<!--変更-->
                <%= for n <- 0..1 do %>　<!--変更-->
                    <div class="teacher">
                        <div class="tchr" onClick="cli(1,5,<%= n %>)">aaaa</div>
                        <div id="sience_t">　<!--変更-->
                            <%= for n <- 0..4 do %>　<!--変更-->
                                <div class="times" >aa</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>

            <div class="rsrv">
                <div class="subject"  onClick='cl("social",3)'>社会</div>　<!--変更-->
                
                <div id="social">　<!--変更-->
                <%= for n <- 0..2 do %>　<!--変更-->
                    <div class="teacher">
                        <div class="tchr" onClick="cli(2,2,<%= n %>)">aaaa</div>
                        <div id="social_t">　<!--変更-->
                            <%= for n <- 0..1 do %>　<!--変更-->
                                <div class="times" >aa</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>

            <div class="rsrv">
                <div class="subject"  onClick='cl("japanese",4)'>国語</div>　<!--変更-->
                
                <div id="japanese">　<!--変更-->
                <%= for n <- 0..3 do %>　<!--変更-->
                    <div class="teacher">
                        <div class="tchr" onClick="cli(3,2,<%= n %>)">aaaa</div>
                        <div id="japanese_t">　<!--変更-->
                            <%= for n <- 0..1 do %>　<!--変更-->
                                <div class="times" >aa</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>

            <div class="rsrv">
                <div class="subject"  onClick='cl("english",5)'>英語</div>　<!--変更-->
                
                <div id="english">　<!--変更-->
                <%= for n <- 0..4 do %>　<!--変更-->
                    <div class="teacher">
                        <div class="tchr" onClick="cli(4,6,<%= n %>)">aaaa</div>
                        <div id="english_t">　<!--変更-->
                            <%= for n <- 0..5 do %>　<!--変更-->
                                <div class="times" >aa</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>

    </body>

    <script type="text/javascript">
        tchr=true
        subject='math'
        num_tchr=0
        num_tm=0
        id=0
        tm=true

        el = document.getElementById("math").children
        function cl(sub,n){
            if(subject != sub && !tchr){
                cl(subject,num_tchr)
                subject = sub
                num_tchr = n
            }
            el = document.getElementById(sub).children

            if(tchr){
                for(let i=1;i<=n;i++){
                    el[i-1].style.top = 12.1*i+"vh"
                    el[i-1].style.top = "calc((12vh+7px)*"+i+")"
                    el[i-1].style.top = "-webkit-calc((12vh+7px)*"+i+")"
                    el[i-1].style.top = "-moz-calc((12vh+7px)*"+i+")"
                    tchr=false
                }
            }else{
                if(!tm){
                    cli(0,num_tm,id)
                }
                for(let i=0;i<n;i++){
                    el[i].style.top = "0"
                    tchr=true
                }
            }
            subject = sub
            num_tchr = n
    
        }

        function cli(stn,n,i){
            if(id!=i && !tm){
                cli(0,num_tm,id)
                num_tm=n
                id=i
            }

            let m = el[i].children[1].children

            if(tm){
                if(stn>2){
                    for(let i=0;i<n;i++){
                        m[i].style.left = -1*(10+10*i)+"vw"
                    }
                }else{
                    for(let i=0;i<n;i++){
                        m[i].style.left = (19+10*i)+"vw"
                    }
                }

                tm=false
            }else{
                for(let i=0;i<n;i++){
                    m[i].style.left = "0"
                }

                tm=true
            }

            id=i
            num_tm = n
            
        }
    
    </script>

    <style>

        body{
            width:100%;
            padding:0 5px;
            margin:5px auto;
        }

        .title{
            width:100%;
            height:17vh;
            background: #eee;
            text-align:center;
            padding:auto 0;
            margin-bottom:10px;
        }

        .navigation{
            width:100%;
            padding:0 5%;
        }

        .navigation .navi{
            float:left;
            width:25%;
            padding: 4vh 0;
            text-align: center;
            border: 1px solid #000000;
            background: #eee;
            margin-bottom: 10px;
            font-weight: 200;
            font-size: 120%;
        }

        .classes{
            width:100%;
            padding:0 5%;
        }

        .classes .subject{
            position:relative;
            padding: 4vh 0;
            text-align: center;
            border: 1px solid #000000;
            background: #eee;
            margin-bottom: 10px;
            font-weight: 200;
            font-size: 120%;
            z-index:100000;
        }

        .classes .rsrv{
            position:relative;
            float:left;
            width:20%;
            vertical-align:text-top;
        }

        .classes .teacher{
            position:absolute;
            transition: 1s;
            top:0;
            width:100%;
            margin-bottom: 10px;
        }

        .tchr{
            position:relative;
            top:0;
            width:100%;
            padding: 4vh 0;
            text-align: center;
            border: 1px solid #000000;
            background: #eee;
            font-weight: 200;
            font-size: 120%;
            z-index:10;
        }

        .times{
            position:absolute;
            transition: 1s;
            top:0;
            left:0;
            right:0;
            width:50%;
            padding: 4vh 0;
            text-align: center;
            border: 1px solid #000000;
            background: rgba(122,122,122,0.5);
            font-weight: 200;
            font-size: 120%;
            z-index:1;
        }
    </style>
</html>